In [1]:
import pandas as pd

In [25]:
df = pd.read_csv("../DB/Data/combined_emission_report.csv")
df2 = pd.read_csv("../DB/Data/combined_reductions_report.csv")
concat = pd.concat([df, df2], axis=0)
concat

,Country,City,C40,Reporting Year,City Location,Country Location,Total Emissions,Baseline year,Baseline emissions,Percentage reduction target,Target date
0,Canada,Montreal,False,2016,"(45.5086699, -73.5539925)","(56.130366, -106.346771)",13722942.0,NaN,NaN,NaN,NaN
1,United Kingdom,Manchester,False,2016,"(53.4575955, -2.1578377)","(55.378051, -3.435973)",14889318.0,NaN,NaN,NaN,NaN
2,USA,Reno,False,2016,"(39.5296, -119.8138)","(37.09024, -95.712891)",4437665.0,NaN,NaN,NaN,NaN
3,USA,Minneapolis,False,2016,"(44.983334, -93.26667)","(37.09024, -95.712891)",4794708.0,NaN,NaN,NaN,NaN
4,Canada,"London, ON",False,2016,"(42.9837, -81.2497)","(56.130366, -106.346771)",3070000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
607,New Zealand,Wellington,False,2017,"(26.661763, -80.268357)","(-40.900557, 174.885971)",NaN,2001.0,1105654.0,10.0,2020.0
608,New Zealand,Wellington,False,2017,"(26.661763, -80.268357)","(-40.900557, 174.885971)",NaN,2001.0,1105654.0,40.0,2030.0
609,New Zealand,Wellington,False,2017,"(26.661763, -80.268357)","(-40.900557, 174.885971)",NaN,2001.0,1105654.0,65.0,2040.0
610,New Zealand,Wellington,False,2017,"(26.661763, -80.268357)","(-40.900557, 174.885971)",NaN,2001.0,1105654.0,80.0,2050.0
611,New Zealand,Wellington,False,2017,"(26.661763, -80.268357)","(-40.900557, 174.885971)",NaN,2014.0,92832.0,80.0,2050.0

In [27]:
concat = concat.dropna(subset=['Country'])
concat.reset_index(drop=True, inplace=True)

In [30]:
unique_countries = concat['Country'].unique()
unique_countries

array(['Canada', 'United Kingdom', 'USA', 'Switzerland', 'France',
       'South Korea', 'Australia', 'Denmark', 'Poland', 'Brazil',
       'South Africa', 'Indonesia', 'Finland', 'Netherlands', 'Taiwan',
       'Bolivia', 'Chile', 'Philippines', 'Germany', 'Lithuania',
       'Portugal', 'Ecuador', 'Peru', 'Spain', 'Norway', 'Italy',
       'Mexico', 'Ethiopia', 'Ireland', 'Slovenia', 'Argentina', 'Japan',
       'Colombia', 'Sweden', 'New Zealand', 'Iceland', 'Hong Kong',
       'Venezuela', 'Turkey', 'Jordan', 'Greece', 'Nigeria', 'Vietnam',
       'Malaysia', 'Israel', 'Russia', 'State of Palestine', 'Bulgaria',
       'Albania', 'Singapore', 'Comoros', 'Gibraltar', 'Georgia',
       'Monaco', 'Romania', 'Thailand', 'Montenegro', 'Latvia'],
      dtype=object)

In [12]:
unique_cities = concat['City'].unique()
unique_cities

array(['Montreal', 'Manchester', 'Reno', 'Minneapolis', 'London, ON',
       'Lausanne', 'Columbus', "Nice Côte d'Azur", 'Incheon ', 'Chicago',
       'Melbourne', 'Aarhus Kommune', 'Richmond, VA', 'Las Vegas',
       'New York City', 'Warsaw', 'Toronto', 'Birmingham', 'Cardiff',
       'Curitiba', 'Cape Town', 'Edmonton', 'District of Columbia',
       'Basel-Stadt', 'Bogor ', 'Turku', 'Boston', 'Flagstaff',
       'Rotterdam', 'Belo Horizonte', 'Kaohsiung', 'New Taipei ',
       'La Paz', 'Región Metropolitana de Santiago', 'Makati',
       'Communauté urbaine du Grand Nancy', 'Lakewood', 'Knoxville',
       'Roanoke', 'Baltimore', 'Oakland', 'Jakarta ', 'Florianópolis',
       'Philadelphia', 'Stadt Heidelberg', 'Recife', 'Brasília',
       'University City, MO', 'Vilnius ', 'San Diego', 'Faro',
       'Santiago de Guayaquil', 'Lima', 'Amsterdam', 'London ', 'Dallas',
       'Zaragoza', 'Hoeje-Taastrup Kommune', 'Albany', 'Palmas', 'Oslo',
       'Venezia', 'North Vancouver', 'Ajax, ON', 'Seattle', 'Seoul ',
       'Mexico City', 'Helsinki', 'Addis Ababa', 'Rio de Janeiro',
       'Dublin', 'Landeshauptstadt Magdeburg', 'Bologna', 'Águeda',
       'Taipei City', 'Palo Alto', 'Stadt Zürich', 'Canberra', 'Atlanta',
       'Ferrara', 'Vancouver', 'Burlington', 'Johannesburg', 'Torino',
       'Davis, CA', 'Lisbon', 'Barreiro', 'Genova', 'Indianapolis',
       'Abington ', 'Ljubljana', 'Ravenna', 'Hamburg', 'Buenos Aires',
       'Bournemouth', 'Porto', 'Tokyo', 'Bogotá ', 'San Luis Potosí',
       'Pretoria - Tshwane', 'Denver', 'Iowa ', 'Copenhagen', 'Roma ',
       'Nashville and Davidson ', 'Goiânia', 'Piacenza', 'Stockholm',
       'Moita', 'Cleveland', 'Sorocaba', 'Calgary', 'Boulder',
       'City of Winnipeg', 'Cascais', 'Sydney', 'Arlington, VA',
       'San Francisco', 'Eugene', 'Auckland ', 'Hamilton',
       'Los Altos Hills', 'St Louis', 'Milano', 'Yonkers', 'Reykjavík',
       'Hong Kong', 'Alcaldía Metropolitana de Caracas', 'Blacksburg',
       'Lahti', 'Yokohama', 'Nagoya', 'Hiroshima', 'Adelaide', 'Bornova ',
       'Benicia', 'Detroit', 'Paris', 'Suwon ', 'Taoyuan ',
       'City of Ærøskøbing', 'Lancaster, PA', 'Los Angeles',
       'Portland, OR', 'Durban', 'Guaratinguetá', 'New Orleans',
       'Santiago de Cali', 'San Antonio', 'Savannah', 'Piedmont, CA',
       'West Hollywood', 'Pittsburgh', 'Alton, IL', 'Lake Forest, IL',
       'Santa Monica', 'Austin', 'Somerville, MA', 'Tucson', 'Okayama',
       'Batangas', 'Amman ', 'Brisbane, CA', 'Santarém', 'Torres Vedras ',
       'Madrid', 'Hjørring', 'Yilan ', 'Wellington', 'Hayward',
       'Salvador', 'Aspen and Pitkin County', 'Durham', 'Windsor',
       'Pingtung ', 'Hermosa Beach, CA', 'Udine', 'Porto Alegre',
       'Emeryville, CA', 'Leicester', 'Kadiovacik', 'Athens',
       'Gladsaxe Kommune', 'Houston', 'Lagos', 'Peterborough',
       'Distrito Metropolitano de Quito', 'Nelson Mandela Bay ',
       'Denton, TX', 'Tainan ', 'Rochester', 'Greensboro', 'Brownsville',
       'Winnipeg', 'Ho Chi Minh', 'Middelfart', 'Fort Collins',
       'Portland, ME', 'Chihuahua', 'Phoenix', 'Medford', 'Hobart',
       'Hoeje-Taastrup', 'Cincinnati', 'Taichung', 'Firenze',
       'Salt Lake City', 'Taoyuan', 'Saskatoon', 'Niterói', 'Santiago',
       'Washington, DC', 'Tulua', 'Istanbul ', 'León de los Aldamas',
       'Easton, PA', 'Fayetteville, AR', 'Porto Velho', 'Byron Shire',
       'Saint Paul, MN', 'Espoo', 'Iskandar ', 'Taipei', 'Tel Aviv-Yafo ',
       'Moscow ', 'Mérida', 'Providence', 'Abasan Al-Kabira',
       'Stara Zagora', 'Gladsaxe', 'Barcelona', 'Tirana', 'Guimarães',
       'Cambridge', 'San Isidro (Lima)', 'Ibadan', 'Heidelberg',
       'Santa Cruz, CA', 'St Catharines, ON', 'Nyon', 'West Palm Beach',
       'Salaberry-de-Valleyfield', 'Aarhus', 'San Leandro, CA', 'Quito',
       'Tempe, AZ', 'Charlottesville, VA', 'Rio Grande', 'Mannheim',
       'Sonderborg', 'Groningen', 'Singapore ', 'Egedal', 'Parañaque',
       'Fafe', 'Elsinore', 'Wroclaw', 'Lancaster', 'Columbia, SC',
       'Cupertino', 'Magdeburg', 'Caracas', 'Vitória', 'Betim',
       'Ann Arbor', 'Moroni', 'Ærøskøbing', 'Columbia, MO', 'Gibraltar',
       'Hvidovre', 'Yilan County', 'Bærum', 'Ottawa', 'Ibagué', 'Zürich',
       'Nancy', 'Miami Beach, FL', 'Córdoba', 'Extrema', 'Napoli',
       'Egedal Municipality', 'Amiens Métropole', 'Murcia', 'Akureyri',
       'City of Wroclaw', 'Bolzano', 'Padova', 'Funchal', 'Gdańsk',
       'Glasgow', 'Hørsholm Kommune', 'Sonderborg Kommune', 'Tarnów',
       'Tbilisi', 'The Hague', 'Monaco', 'Aurora, CO', 'Bellingham, WA',
       'Charlotte', 'Halifax', 'Northampton, MA', 'Park City, UT',
       'Sacramento', 'Vail, CO', 'Changwon ', 'Ansan ', 'Perth',
       'Gwangyang ', 'Hongcheon ', 'Hsinchu ', 'Uljin ', 'Olbia', 'Lucca',
       'Frederikshavn Kommune', 'Alba-Iulia', 'Prince George, BC',
       'Bangkok ', 'Gdynia', 'Kuala Lumpur', 'Long Beach', 'Miami',
       'Podgorica', 'Richmond, CA', 'Takoma Park, MD', 'Monza',
       'Oristano', 'Parma', 'Fredensborg', 'Frederikshavn', nan,
       'Hørsholm', 'Hsinchu City', 'Hsinchu County', 'Lejre',
       'Magdalena del Mar', 'Cainta', 'Braga', 'Pasig', 'Riga',
       'Ringkøbing-Skjern'], dtype=object)

In [41]:
unique_countries = concat.drop_duplicates(subset=['Country'])
unique_countries.reset_index(drop=True, inplace=True)
unique_countries[['Country', 'Country Location']].to_csv('../DB/Data/countries.csv', index=False)

In [42]:
unique_cities = concat.drop_duplicates(subset=['City'])
unique_cities.reset_index(drop=True, inplace=True)
unique_cities[['Country', 'City', 'City Location', 'C40']].to_csv('../DB/Data/cities.csv', index=False)